<% @title = 'Tasks' %>
<h2>Tasks</h2>

<%= link_to 'New Task', new_task_path %>

<% %w[overdue today tomorrow later someday].each do |list_name| %>
  <div id="<%= list_name %>">
    <h3><%= list_name.capitalize %></h3>
    <ul class="bulletless task_list">
      <%= render eval("@#{list_name}") %>
    </ul>
  </div>
<% end %>