body {
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 13px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #F7F7F7;
  border-top: 7px solid #2299cc;
}
a {
  color: #2299cc;
  padding: 0 2px;
  text-decoration: none;
  outline-style: none;
  border-radius: 2px;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
}
a:hover, .active {
  color: #FFFFFF;
  background-color: #2299cc;
}
    a img{
      border: none;
      vertical-align: top;
    }
h1, h2 {
  font-family: "Trebuchet MS";
}
    h1{
      font-size: 20px;
      margin: 0 0 10px;
    }
    h1 a:hover {
      color: #2299cc;
      background: none;
    }
#container {
  margin: 0 auto;
  padding: 0;
  width: 760px;
}
#content {
  overflow: auto;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 7px;
  -moz-border-radius: 7px; 
  -webkit-border-radius: 7px; 
   box-shadow: 0 1px 3px #CCC;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px #CCC;
}
header {
  display: block;
  padding: 10px 0;
  overflow: auto;
}
    header h1 {
      border: none;
      float: left;
      font-size: 30px;
      margin: 0;
    }
    nav {
      float: right;
      margin: 12px 0 0;
    }
        nav ul {
          margin: 0;
          padding: 0;
        }
            nav li {
              display: inline;
            }
            nav a{
              margin: 0 0 0 10px;
              padding: 5px 15px;
              background-color: #EEEEEE;
              border-radius: 5px;
              -moz-border-radius: 5px; 
              -webkit-border-radius: 5px; 
            }
            a.login{
              margin: 0;
              padding: 0;
              background: none;
              border: none;
            }
    hgroup h1{
      color: #000000;
      float: none;
      font-size: 34px;
      margin: 200px 0 10px;
      text-align: center;
    }
    hgroup h2{
      font-size: 22px;
      margin: 0 0 200px;
      padding: 0;
      text-align: center;
    }
    form{
      overflow: auto;
      padding: 20px 10px;
      background-color: #F9F9F9;
      border: 2px solid #CCC;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
    fieldset{
      margin: 0;
      padding: 0;
      border: none;
    }
    label{
      display: block;
      color: #999;
    }
    input, select{
      font: inherit;
    }
    select{
      height: 23px;
    }
    .text_field, select{
      width: 700px;
      margin: 0 0 10px;
    }
        #add_task fieldset{
          float: left;
          margin: 0;
          padding: 0;
          border: none;
        }
        #add_task #task_name{
          width: 277px;
          margin: 0 10px 0 0;
        }
        #add_task #task_due_at{
          width: 97px;
          margin: 0 10px 0 0;
        }
        #add_task #task_project_id, #add_task #task_context_id{
          width: 120px;
          margin: 0 10px 0 0;
        }
        #add_task #task_submit{
          margin: 15px 0 0;
        }
    #tasks{
      float: left;
      width: 490px;
    }
    aside{
      float: right;
      width: 230px;
    }
      #add_project, #add_context{
        padding: 4px 0 5px;
         border-bottom: 1px solid #EEEEEE;
      }
      #add_project .text_field, #add_context .text_field{
        width: 170px;
        margin: 0;
      }
    section h1{
      font-size: 16px;
      margin: 20px 0 0;
      border-bottom: 1px solid #CCCCCC;
    }
    #overdue h1{
      color:#AA0000;
    }
    #today h1{
      color:#57861A;
    }
    #tomorrow h1{
      color:#000;
    }
    #later h1{
      color:#666;
    }
    #someday h1{
      color:#999;
    }
    #done h1{
      color:#ccc;
    }
        #done li{
          text-decoration: line-through;
        }
    section ul{
      list-style-type: none;
      margin: 0 0 10px;
      padding: 0;
    }
        section li {
          border-bottom: 1px solid #EEEEEE;
          padding: 4px 0 5px;
        }
        section form{
          overflow: auto;
          padding: 0;
          margin: 0;
          background: none;
          border: none;
          display: inline;
        }
        .editable_form{
          display: none;
        }
        .editable_project_name, .editable_context_name{
          width: 145px;
        }
        .editable_task_name{
          width: 270px;
        }
        .editable_task_due_at{
          width: 97px;
        }
        time{
          color: #999999;
          font-size: 10px;
        }
        .tag {
          font-size: 10px;
          padding: 0 3px 2px;
        }
            .delete{
              padding: 0;
              float: right;
            }
            .delete:hover{
              background: none;
            }
            .delete img{
              opacity: 0.5;
              -moz-opacity: 0.5;
              filter:alpha(opacity=50);
            }
            .delete img:hover{
              opacity: 1;
              -moz-opacity: 1;
              filter:alpha(opacity=100);
            }
    .notice, .alert {
      margin: 0 0 10px;
      padding: 10px;
      border: 2px solid;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
    .notice {
      color: #57861A;
      background-color: #F6FFF6;
      border-color: #99CC99;
    }
    .alert {
      color: #CC0000;
      background-color: #FFEBEB;
      border-color: #E88C8C;
    }
    .field_with_errors input, .field_with_errors textarea, .field_with_errors select {
      border: 1px solid #E88C8C;
    }
    #error_explanation {
      background-color: #FFEBEB;
      border: 2px solid #E88C8C;
      margin: 0 0 10px;
      padding: 0pt 15px;
      border-radius: 5px;
      -moz-border-radius: 5px; 
      -webkit-border-radius: 5px; 
    }
    #error_explanation h2 {
      color: #CC0000;
      font-size: 16px;
      border: none;
      margin:10px 0;
      padding:0;
    }
    #error_explanation ul {
      margin: 0 0 10px;
    }
footer {
  font-size: 10px;
  text-align: center;
}