<% @title = 'Home' %>
<h1>The Easiest Way to Get Things Done!</h1>
<div id="features">
  <h2>Everything You Want, Nothing You Don't!</h2>
  <ul class="list">
    <li>Move tasks out of your mind</li>
    <li>Group related tasks into projects</li>
    <li>Work in contexts</li>
    <li>Focus on the next action</li>
    <li>Review weekly</li>
    <li>Inspired by <%= link_to 'Getting Things Done', 'http://en.wikipedia.org/wiki/Getting_Things_Done', :target => '_blank' %></li>
  </ul>
</div>
