<% @title = 'Home' %>
<div id="features">
  <h1>The Easiest Way to Get Things Done!</h1>
  <h2>Everything You Want, Nothing You Don't!</h2>
  <div>
    <h3>Features</h3>
    <ul class="list">
      <li>Simple and easy to use</li>
      <li>Intutive interface</li>
      <li>Everything on one page</li>
      <li>In-place editing</li>
      <li>Drag and drop to order</li>
      <li>It's FREE!</li>
    </ul>
  </div>
  <div>
    <h3>How it Works</h3>
    <ul class="list">
      <li>Get things off your mind</li>
      <li>Group tasks into projects</li>
      <li>Work in contexts</li>
      <li>Focus on the next action</li>
      <li>Review weekly</li>
      <li>Inspired by <%= link_to 'GTD', 'http://en.wikipedia.org/wiki/Getting_Things_Done', :target => '_blank' %></li>
    </ul>
  </div>
</div>