<% @title = 'Home' %>
<h2>Welcome to Tasky!</h2>
<p>Tasky is the best task manager for <%= link_to 'Getting Things Done', 'http://en.wikipedia.org/wiki/Getting_Things_Done', :target => '_blank' %>.</p>
<h3>Features</h3>
<ul>
  <li>Group related tasks in projects</li>
  <li>Work in contexts (home, office, phone, etc.)</li>
  <li>Share projects with others</li>
  <li>Focus on the next task</li>
  <li>Track your progress</li>
  <li>Simple and easy interface</li>
  <li>Mobile view</li>
  <li>Free!</li>
</ul>