<% @title = 'Home' %>
<h2>Welcome to Tasky!</h2>
<p>Tasky is the best task manager for <%= link_to 'Getting Things Done', 'http://en.wikipedia.org/wiki/Getting_Things_Done', :target => '_blank' %>.</p>
<h3>Features</h3>
<ul>
  <li>Move tasks out of your mind</li>
  <li>Today, Tomorrow, Later, Someday</li>
  <li>Group related tasks in projects</li>
  <li>Work in contexts (home, office, phone, etc.)</li>
  <li>Focus on the next action</li>
  <li>Review weekly</li>
</ul>
<h3>Future Versions</h3>
<ul>
  <li>Drag n Drop</li>
  <li>Share tasks with others</li>
  <li>Detailed reports and charts</li>
  <li>Firefox extension</li>
  <li>Mobile view</li>
  <li>iPhone and iPad apps</li>
</ul>