<% @title = 'Page not found' %>
<h2>Oops.. Page not found!</h2>
<p>
  Sorry, the page you're looking for couldn't be found.<br />
  You may have followed a broken link or mistyped the web address.
</p> 